/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .current {
        
        /* --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity)); */
        --tw-bg-opacity: 1;
        background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
        --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
        /* --tw-text-opacity: 1;
        color: rgba(107, 114, 128, var(--tw-text-opacity));
        border-radius:0.5rem 0.5rem 0px 0px; */
    }
      
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;  
    }   

    .field {
        justify-items: center;

    }
    .box {
        border-radius:0rem 0rem 0.5px 0.5px;
    }

    .wid{
        width: 21rem;
    }

    .halfwid{
        width: 10.45rem
    }

    .signinbuttonmargin{
        margin-top: 6rem/* 80px */;
    }

    .signupbuttonmargin{
        margin-top: 3.25rem/* 80px */;
    }

    
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
 
  
    .menu-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .menu-trigger {
      background: #ffffff;
      border-radius: 90px 20px 90px 90px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 2px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      border: none;
      vertical-align: middle;
      transition: box-shadow 0.4s ease;
      margin-left: auto; /* Strictly for positioning */
    }
    .profile-trigger {
      background: #ffffff;
      border-radius: 90px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 2px;
      vertical-align: middle;
      transition: box-shadow 0.4s ease;
      margin-left: auto; /* Strictly for positioning */
    }

    .button-trigger {
      background: #ffffff;
      border-radius: 90px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 12px;
      vertical-align: middle;
      transition: box-shadow 0.4s ease;
      margin-left: auto; /* Strictly for positioning */
    }
    
    .menu-trigger:hover {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    }
    
    .menu-trigger span {
      font-weight: 700;
      vertical-align: middle;
      font-size: 14px;
      margin: 0 10px;
    }
    
    .menu-trigger img {
      border-radius: 90px;
    }
    
    .menu {
      background: #ffffff;
      border-radius: 8px;
      position: absolute;
      top: 0px;
      right: 0;
      width: 200px;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    }
    
    .menu.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    
    .menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .menu li {
      border-bottom: 1px solid #dddddd;
    }
    
    .menu li a {
      text-decoration: none;
      color: #333333;
      padding: 15px 20px;
      display: block;
    }
    
      
}